
.navbar{
background-color: #8d8de8;
text-align: center;
font-size: 30px;
padding: 30px ;
}

.navbar a{
    text-decoration: none;
    color: rgb(19, 2, 2);
    margin-right: 20px;
}
.navbar a:hover{
    color: rgb(253, 210, 82);
}
