.footer-class {
    display: block;
    margin-bottom: 0;
    text-align: center;
    bottom:0;
    position:relative; 
    height:50px;  
    background:rgb(159, 161, 161);
    padding: 25px;
    font-size: 18px;
}

