.container{
    background-color: rgb(231, 230, 230);
}
.home-container{
display: flex;
align-items: center;
justify-content: space-between;

}
.laptop-details {
 text-align: center;
 padding: 20px;
 margin-left: 30px;
 font-size:20px;
 color: black;
}