
.question{
    box-sizing: border-box;
    color: black;
}
h2{
color: rgb(255, 159, 34);
margin: 40px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 1rem;
    margin-top: 0;
}